@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', serif;
    line-height: 2;
}
.navbar-default{
    padding-top: 25px;
    background-color: transparent;
    border-color: transparent;
}
.navbar-brand{
    padding: 0;
}
.img-logo {
    width: 80px;
    height: auto;
    padding-top: 15px;
}
.form-control:focus{
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .75), 0 0 0 rgba(102, 175, 223, .6);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .75), 0 0 0 rgba(102, 175, 223, .6);
}
.form-top{
    height: 40px;
    width: 380px !important;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 0 rgba(102, 175, 223, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    border-bottom: 1px solid #333;
    background: transparent;
}
.btn-search-top{
    font-size: 23px;
    background-color: transparent;
    border-color: transparent;
    padding: 0 0 0 10px;

}
.navbar-form{
    padding: 0;
}
.navbar-top .menu-top{
    font-size: 16px;
    font-weight: 900;
}
.navbar-top .menu-top >li >a {
    padding: 15px 0px 15px 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-top .menu-top >li >a:hover{
    text-decoration: none;
    color:#000;
    display: inline-block;
}
.home-hero{
    position: relative;
    display: flex;
    overflow: hidden;
    height: auto;
    min-height: 80vh;
    padding-top: 60px;
    padding-bottom: 80px;
    align-items: center;
}
.div-block-226{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 600px;
    padding: 50px;
    margin: 0 -100px;
}
.image-100{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 80% 0;
}
img{
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    display: inline-block;
}
.container-1640-home-hero{
    position: relative;
    padding-right: 100px;
    padding-left: 100px;
    -webkit-box-flex: 1;
    flex: 1;
}
.container-1641-home-hero{
    position: relative;
    padding-right: 100px;
    padding-left: 100px;
    -webkit-box-flex: 1;
    flex: 1;
}
.home-hero-heading{
    display: inline-block;
    margin-bottom: 30px;
    padding: 0px;
    text-transform: none;
}
h1{
    font-family: 'Playfair Display', serif;
    color: #113f59;
    font-size: 72px;
    line-height: 1.5;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 30px;
    padding: 40px 60px 40px 40px;
    text-transform: none;
}
.text-block-62{
    margin-bottom: 50px;
    padding-right: 40px;
    color: #05afaa;
    font-size: 27px;
    font-weight: 500;
}
.button-home-primary-copy{
    padding: 10px 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    border-radius: 80px;
    background-color: transparent;
    color: #113f59;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}
.button-home-primary-copy:hover{
    text-decoration: none;
    color: white;
    background-color: #113f59;
    border-color: #333;
}
.page-footer{
    background-color: #222;
    color: #ccc;
    padding: 30px 0px;
}
.footer-copyright{
    color: #666;
    padding: 10px 0;
}
.wabutton{
    width:50px;
    height:50px;
    position:fixed;
    bottom:50px;
    right:50px;
    z-index:100;
}
.igbutton{
    width:50px;
    height:50px;
    position:fixed;
    bottom:120px;
    right:50px;
    z-index:100;
}
.gmailbutton{
    width:50px;
    height:50px;
    position:fixed;
    bottom:190px;
    right:50px;
    z-index:100;
}
section.sec {
	height:auto;
	box-sizing: content-box;
	padding-top: 50px;
	padding-bottom: 50px;
}
.content {
	scroll-behavior: smooth;
	width: 100% auto;
}

.content-float {
	position: relative;
	padding-top: 0px;
	padding-bottom: 100px;
	border-radius: 35px;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: #113f59;
    margin-bottom: 30px;
}
.title-content {
	font-size: 40px;
	text-align: center;
	color: #113f59 ;
}
.area-card {
	position: relative;
	display: flex;
}

.card {
	margin-left:30px;
	background: linear-gradient(53.8deg, #113f59 0%, #05afaa  100%);
	display:block;
	min-height:180px;
	width:247px;
	transition:min-height 0.5s;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 1px;
    border-style: solid;
}

.card:hover {
	min-height:350px;
}

.card, .card-header {
	height: 180px;
}

.card  .card-body {
	padding:10px 10px;
}

.card  .card-body p{
	text-align: center;
	font-size: 17px;
}

.tombol-link {
	background: #fff;
	color:black;
	font-size: 16px;
	padding : 5px 15px;
	text-decoration: none;
}

.tombol-link:hover {
	background:#fff;
	padding : 5px 15px;
	color:#05afaa;
	box-sizing: content-box;
	border: 2px ;
}
.detail-partner {
	top:10%;
    left:10%;
    right: 10%;
	width: 80%;
	position: fixed;
	z-index: 9999;
	padding: 5px 15px;
	border-radius: 15px;
	transform: translateY(-400%);
	transition: transform 0.5s;
	background: #fff;
}

.header-detail {
	margin:0px;
}

.header-detail a.tombol-close{
    background: #05afaa;
	color: #fff;
	font-size: 16px;
	padding : 2px 12px;
    text-decoration: none;
    top: 20px;
    right: 20px;
    position: fixed;
}

.header-detail a.tombol-close:hover {
    background:#fff;
    padding : 4px 14px;
    color:#05afaa;
    box-sizing: content-box;
}

.detail:before {
	display: none;
	content: '';
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	left:0;height: 100%;
	width: 100%;
}

.detail:target .detail-partner{
	transform: translateY(0%);
}

.detail:target:before{
	display: block;
}

/*Contact*/

.title-content2 {
	font-size: 40px;
	text-align: left;
    color: white ;
    padding: 0px;
}
.div-block-143{
    position: relative;
	z-index: 10;
    max-width: 80%;
    margin: 80px auto 0px auto;
	background-color: #113f59;
	border-radius: 35px;
}
.text-block-63{
    color: #ccc;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 50px;
}
.div-block-57{
	display: inline-block;
	padding-bottom: 0px;
}
.div-block-227{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 600px;
	height: 350px;
    padding-right: 50px;
    margin: 0 -50px;
}
.section-14 {
    padding-top: 65px;
    padding-bottom: 25px;
    color: #113f59;
    text-align: left;
    min-width: 80%;
}
.container1 {
    position: relative;
    display: block;
    max-width: 80%;
    padding-right: 40px;
    padding-left: 40px;
}
.w-container1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
.container-1640 {
    position: relative;
}
.div-block-101 {
    position: absolute;
    top: -80px;
    display: none;
    width: 100%;
}
.div-block-30 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.form-block {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.w-form {
    margin: 0 0 15px;
    margin-bottom: 15px;
}
.div-block-46 {
    width: 80%;
}
.heading-42{
    font-weight: 900;
    font-size: 36px;
}
.field-label {
    color: black;
    font-weight: 500;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}
.contact-text-field {
    height: 44px;
    margin-bottom: 35px;
    border: 1px #000;
    border-radius: 10px;
    background-color: #f7f7f7;
    min-width: 80%;
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}
.div-block-39 {
    display: inline-block;
    width: 50%;
    padding-right: 0px;
}
.div-block-40 {
    display: inline-block;
    width: 50%;
    padding-left: 0px;
}
.select-field {
    margin-bottom: 35px;
}
.w-select {
    background-color: #f3f3f3;
}
.contact-text-field.contact-textarea {
    height: 200px;
}
textarea.w-input, textarea.w-select {
    height: auto;
}

.div-block-43 {
    margin-top: 100px;
}
.columns-46 {
    display: none;
    text-align: left;
}
.w-container1 .w-row {
    margin-left: -10px;
    margin-right: -10px;
}
.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.w-col-3 {
    width: 25%;
}
.div-block-175 {
    text-align: right;
}
input.w-button {
    -webkit-appearance: button;
}
.submit-button {
    margin-right: 20%;
    margin-top: 20px;
    padding: 1px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 60px;
    background-color: #f4cd0c;
    color: #113f59;
    font-size: 18px;
    font-weight: 500;
	text-align: center;
}
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}
.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #ddd;
}
.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
}
.line-separator-copy {
    display: none;
}
.div-block-69 {
    height: 1px;
    max-width: 1010px;
    margin-right: auto;
    margin-left: auto;
    background-color: #c4c4c4;
}

/*Our Services*/
.content-float2 {
    min-width: 80%;
	position: relative;
    margin-bottom: 30px;
    margin-left: 50px;
}

.card2 {
    margin-left: 5%;
    margin-right: 5%;
	background: linear-gradient(53.8deg, #113f59 0%, #05afaa  100%);
	display:block;
	min-height:370px;
	width:25%;
    overflow: hidden;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 2px 50px 0px #333;
}

.card2, .card-header2 {
	height: 180px;
}

.card2  .card-body2 {
	padding:10px 10px;
}

.card2  .card-body2 p{
	text-align: center;
	font-size: 17px;
}
section.sec2 {
	height:auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.title-content2 {
	font-size: 40px;
	text-align: center;
    color: white;
    margin-left: 0px;
}

@media (max-width: 769px){
    .container{
        max-width: 1024px;
    }
}

@media (max-width: 768px){
    .img-logo{
        width: 30px;
        height: auto;
    }
    .form-top{
        width: 100% !important;
        height: 45px;
    }
    h1{
        font-size: 30px;
        margin-top: -300px;
        margin-left: -50px;

    }
    .text-block-62{
        font-size: 17px;
        margin-top: -10px;
        margin-left: -50px;
        margin-right: -50px;
    }
    .div-block-226{
        margin: -55%;
    }
    .image-100{ 
        width: 70%;
        height: 70%;
        margin-bottom: 50px;
    }
    .button-home-primary-copy{
        padding: 5px 20px;
        border-style: solid;
        border-width: 1px;
        border-color: #333;
        border-radius: 80px;
        background-color: transparent;
        color: #113f59;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
    }
    .div-block-218{
        margin-top: -45px;
        margin-left: -55px;
        margin-bottom: 130px;
    }
    .page-footer{
        margin-top: 50px;
    }
    .wabutton{
        width:30px;
        height:30px;
        position:fixed;
        bottom:50px;
        right:20px;
        z-index:100;
    }
    .igbutton{
        width:30px;
        height:30px;
        position:fixed;
        bottom:100px;
        right:20px;
        z-index:100;
    }
    .gmailbutton{
        width:30px;
        height:30px;
        position:fixed;
        bottom:150px;
        right:20px;
        z-index:100;
    }
    .content {
        margin-left: 15px;
        margin-right: 15px;
        width: 90% ;
        padding-bottom: 5px;
    }
    .detail-sekolah {
        top:30%;
        left:8%;
        width: 80%;
    }

    section.sec {
        padding-bottom: 20px;
    }

    .area-card {
        display:block;
    }

    .card {
        display:block;
        width: 85%;
        margin-bottom: 20px;
    }
    .card:hover {
        min-height:380px;
    }
    .card, .card-header {
        height: 200px;
    }
    
    .title-content {
        margin: 0px 20px 0px 40px; 
        font-size: 24px;
        text-align: center;
        color: #113f59 ;
    }
    .tombol-link {
        font-size: 16px;
        margin-bottom: 10px;
        margin-bottom: 20px;
    }
    .w-input, .w-select {    
        min-width: 120%;
        
    }
    .title-content2 {
        font-size: 20px;
        margin-top: 10px;
        margin-left: 15px;
        padding: 0px;
    }
    .text-block-63 {
        font-size: 12px;
        margin-left: 15px;
        margin-right: -50px;
        margin-top: -10px;
        margin-bottom: -25px;
    }
    .container-1641-home-hero{
        max-width: auto;
        padding: 0px;
    }
    .div-block-46 {
        margin-top: -20px;
        margin-left: 10px;
    }
    .submit-button{
        margin: 30%;
    }
    .card2 {
        margin-left: 10%;
        display:block;
        min-width: 80%;
        margin-bottom: 20px;
        min-height: 260px;
        overflow: hidden;
    }
    .card2  .card-body2 p{
        text-align: center;
        font-size: 12px;
    }
    .card2, .card-header2 {
        height: 120px;
    }
        
}

.home-we-different-section {
    position: relative;
    padding-top: 25px;
    padding-bottom: 65px;
    background-color: #fff;
    background-position: 0 100%;
    background-size: auto 50%;
    background-repeat: no-repeat;
	border-radius: 30px;
}
.horizontal-scroll {
    position: -webkit-sticky;
    position: sticky;
    top: 15vh;
    bottom: 15vh;
}
.heading-44 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 25px;
    background-position: 100% 100%,0 0;
    background-size: 18px,18px;
    background-repeat: no-repeat,no-repeat;
    text-transform: none;
}
h4 {
    margin-bottom: 10px;
    font-family: Ubuntu,Helvetica,sans-serif;
    color: #113f59;
    font-size: 45px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: none;
}
h1, h2, h3, h4 {
    margin-top: 20px;
}
.horizontal-scroll-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    padding-top: 160px;
}
.horizontal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -100px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.div-block-192 {
    position: relative;
    display: inline-block;
    width: 47%;
    margin-bottom: 180px;
    padding: 140px 35px 35px;
    border-radius: 30px;
    background-color: #fff;
    font-size: 15px;
    line-height: 2;
}
.image-83 {
    position: absolute;
    left: 0;
    top: -110px;
    z-index: 900;
    width: 100%;
    height: 220px;
    -o-object-fit: contain;
    object-fit: contain;
}
.text-block-142 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
}
strong {
    font-weight: 700;
}






